* {
  font-family: Microsoft JhengHei;
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logoPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logoPart > img {
  width: 55px;
}

.header .logoPart .logoTitle {
  width: 115px;
  text-align: center;
  line-height: 3;
  background-color: #2b2d2b;
  font-size: 20px;
  color: white;
}

.header .headerTabWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0b756e;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .headerTabWrap .headerTab {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.editSection .editWrap .title {
  font-size: 26px;
  font-weight: bold;
}

.editSection .editWrap .title .titleContent input {
  font-size: 24px;
  width: 845px;
}

.editSection .editWrap .title .titleContent input.keyword {
  width: 865px;
}

.editSection .editWrap .articleContentWrap textarea {
  font-size: 24px;
  width: 960px;
}

.editSection .editWrap .articleContentWrap .articleContent {
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: bold;
}

.editSection .btnWrap {
  width: 962px;
  text-align: center;
  margin-top: 15px;
}

.editSection .btnWrap button {
  width: 65px;
  height: 40px;
}

.index {
  height: 100vh;
  background: #F8F8F8;
}

.index .loginSection {
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 12%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.index .loginSection .loginBoard {
  width: 390px;
  height: 290px;
}

.index .loginSection .loginBoard .loginTitle {
  padding: 15px 16px;
  background-color: #0B756E;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.index .loginSection .loginBoard .inputWrap {
  width: 390px;
  padding: 20px;
  border: solid #EAEAEA 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

.index .loginSection .loginBoard .inputWrap input {
  width: calc(100% - 10px);
  height: 32px;
}

.index .loginSection .loginBoard .inputWrap .inputItemWrap {
  margin-bottom: 20px;
}

.index .loginSection .loginBoard .inputWrap .inputItemWrap .inputTitle {
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
}

.index .loginSection .loginBoard .inputWrap .loginBtnWrap {
  text-align: center;
  font-size: 30px;
}

.index .loginSection .loginBoard .inputWrap .loginBtnWrap button {
  padding: 10px;
}

.newItemWrap .formWrap {
  background-color: aliceblue;
  z-index: 100;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20%;
  width: 800px;
  height: 500px;
}

.newItemWrap .formWrap form {
  position: relative;
  padding: 15px 32px;
  font-size: 32px;
}

.newItemWrap .formWrap form .formItem {
  margin-bottom: 15px;
}

.newItemWrap .formWrap form input {
  font-size: 32px;
  width: 500px;
  height: 40px;
}

.newItemWrap .formWrap .close {
  position: absolute;
  right: 0;
  top: 0;
}

.articleSearch .articleSearchInput {
  width: 35%;
  height: 35px;
  font-size: 24px;
}

.articleSearch .title {
  font-weight: bold;
}

.articleSearch .actOutputWrap.displayNone {
  display: none;
}

.articleSearch .actOutputWrap .excelDownload {
  margin-left: 70px;
}

.articleSearch .actOutputWrap table,
.articleSearch .actOutputWrap th,
.articleSearch .actOutputWrap td {
  text-align: center;
  border: 1px solid black;
}

.articleSearch .chooseActWrap {
  font-size: 24px;
}

.articleSearch .chooseActWrap .chooseActivity,
.articleSearch .chooseActWrap select {
  margin-right: 5px;
}

section {
  margin: 20px 55px;
}

section.displayNone {
  display: none;
}

section .sectionTitle {
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

section .sectionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.displayNone {
  display: none;
}

.mask {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}
/*# sourceMappingURL=index.css.map */